<!DOCTYPE html>
<html>
<%- include common/header.ejs %>

<body>
    <%- include common/navbar.ejs %>
    <div class="grid profile-edit-container">
        <h1>Editing <%= teamInfo.name %>'s Profile</h1>
        <form action="<%= "/team/" + teamInfo.id + "/edit" %>" method="post">
            <div class="form-group">
                <% if (errorObject.invalidEmail ) { %>
                <div style="color: red">Please enter a valid email.</div>
                <% } %>
                <label for="primaryEmail">Primary Email</label>
                <input type="email" class="form-control" name="primaryEmail" value="<%= teamInfo.contact_email %>">
            </div>
            <div class="form-group">
                <label for="primaryName">Primary Contact's Full Name</label>
                <input type="text" class="form-control" name="primaryName" value="<%= teamInfo.contact_name %>">
            </div>
            <div class="form-group">
                <% if (errorObject.passwordMismatch ) { %>
                <div style="color: red">Passwords do not match!</div>
                <% } %>
                <label for="newPass">New Password</label>
                <input type="password" class="form-control" name="newPass">
                <label for="newPassConfirm">Re-type New Password</label>
                <input type="password" class="form-control" name="newPassConfirm">
            </div>
            <div class="form-group">
                <% if (errorObject.incorrectPass ) { %>
                    <div style="color: red">Incorrect password!</div>
                <% } %>
                <label for="currentPass">Current Password <em style="font-weight: normal;">(required)</em></label>
                <input type="password" class="form-control" name="currentPass">
            </div>
            <button type="submit" class="btn btn-default">Submit Changes</button>
        </form>
    </div>
    <%- include common/scripts.ejs %>
</body>
</html>
