<!DOCTYPE html>
<html>
<%- include common/header.ejs %>

<body>
    <%- include common/navbar.ejs %>
    <div class="grid profile-container">
        <div style="font-size:32px;">
            <%= teamInfo.name %>'s Profile
        </div>
        <div class="col-md-8">
            <% if(editPermission) { %>
            <a class="btn btn-default" href="<%= "/team/" + teamInfo.id + "/edit" %>">Edit Profile</a>
            <% } %>
        </div>
        <ul>
            <li>Team Name: <%= teamInfo.name %></li>
            <li>Primary Contact's Name: <%= teamInfo.contact_name %></li>
            <li>Primary Contact's Email: <%= teamInfo.contact_email %></li>
        </ul>

    </div>
    <%- include common/scripts.ejs %>
</body>
</html>
