<!DOCTYPE html>
<html>
<%- include common/header.ejs %>

<body>
    <%- include common/navbar.ejs %>
    <div class="container-fluid">
        <div style="margin-top:15px; overflow:auto;">
            <div style="font-size:32px;" class="col-md-4">
                <%= teamInfo.name %>'s Profile
            </div>
            <div class="col-md-8">
                <a class="btn btn-default">Edit Profile</a>
            </div>
        </div>
        <ul>
            <li>Team Name: <%= teamInfo.name %></li>
            <li>Primary Contact's Name: <%= teamInfo.contact_name %></li>
            <li>Primary Contact's Email: <%= teamInfo.contact_email %></li>
        </ul>

    </div>
    <%- include common/scripts.ejs %>
</body>
</html>
